@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-sunny {
  background: url("./images/sunny.jpg") no-repeat center/cover;
}

.bg-cloudy {
  background: url("./images/cloudy.jpg") no-repeat center/cover;
}

.bg-rainy {
  background: url("./images/rainy.jpg") no-repeat center/cover;
}

.bg-snowy {
  background: url("./images/snowy.jpg") no-repeat center/cover;
}



